/* Button - call-to-action */

.btn-cta {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
  }
  
  .btn-cta:hover {
    color: #fff;
    background-color: #2568a1;
    border-color: #2568a1;
  }
  .btn-cta:focus {
    color: #fff;
  }

/* Promo box */

#support-promo-section {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #404040;
    background: #fafafa;
    border: 1px solid #ddd;
    padding: 1.25rem;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    margin-bottom: 1.5625rem;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.4375rem rgba(100,100,100,0.3);
    -webkit-box-shadow: 0 0 0.4375rem rgba(100,100,100,0.3);
    -moz-box-shadow: 0 0 0.4375rem rgba(100,100,100,0.3);
  }
  #support-promo-section {
    background: #337ab7;
    border-color: #337ab7;
    color: white;
    box-shadow: 0 0 0.4375rem #337ab7;
    -webkit-box-shadow: 0 0 0.4375rem #337ab7;
    -moz-box-shadow: 0 0 0.4375rem #337ab7;
  }
  #support-promo-section:hover {
    background: #226dae;
    cursor: pointer;
  }
  #support-promo-section .btn {
    margin-top: 0.625rem;
    font-weight: bold;
    color: #337ab7;
    background: white;
  }
  #support-promo-section .btn:hover {
    background: #eaeaea;
  }
  @media only screen and (max-width: 767px) {
    #support-promo-section {
      font-size: 1.125rem;
    }
    #support-promo-section .btn {
      font-size: 1rem;
    }
  }
  @media only screen and (max-width: 500px) {
    #support-promo-section {
      font-size: 1rem;
    }
    #support-promo-section .btn {
      font-size: 0.875rem;
    }
  }
  